
@media (max-width:1100px) {

    main{
        overflow-x: hidden;
    }
    header{
        padding: 16px;
        .navbar{
            width: 100%;
        }
        .puie-nav{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .navbar-brand{
            order: 2;
            position: absolute;
            left: 47%;
            top: 24px;
        }
        .navbar-toggler{
            border: none;
            background-color: #F9F9F9;
        }
        .button.nvbar-togg{
            background-color: #F9F9F9;
        }
    }

    .intro {
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 20px;
        gap: 40px;
      }
    
      .intro-text {
        width: 100%;
      }
    
      .intro-image {
        width: 100%;
      }

    

    /* Productos mobile */
    
    #projectsSection{
        margin-left: 20px;
        margin-right: 20px;
        .container{
            .card-puie {
                margin-bottom: 30px;
                padding: 32px;    
                border-radius: 8px;
                border-style: none;
                h4 {
                    padding-bottom: 6px;
                }
                p {
                    padding-bottom: 0px;
                }
            }
        }
    }
    




    
}

